.ChatMain
  .ChatMain__header
    .ChatMain__header__info
      .ChatMain__header__info__group
        .ChatMain__header__info__group__name test
        .ChatMain__header__info__group__members Menber：masa
      =link_to "#", class: "ChatMain__header__info__edit-btn" do
        Edit
  .ChatMain__messages
  .ChatMain__form
  