.ChatMain
  .ChatMain__header
    .ChatMain__header__group
      %h1.ChatMain__header__group__name test
      %ul.ChatMain__header__group__members
        %li Member：
        %li masa
    =link_to "#", class: "ChatMain__header__edit-btn" do
      Edit
  .ChatMain__messages
    .ChatMain__messages__message
      .ChatMain__messages__message__info
        .ChatMain__messages__message__info__UserName masa
        .ChatMain__messages__message__info__date 2020/02/13(Thu) 21:13:27
      .ChatMain__messages__message__text テスト文です。
    .ChatMain__messages__message
      .ChatMain__messages__message__info
        .ChatMain__messages__message__info__UserName masa
        .ChatMain__messages__message__info__date 2020/02/13(Thu) 21:30:46
      .ChatMain__messages__message__text 明日はバレンタインDAY。
    .ChatMain__messages__message
      .ChatMain__messages__message__info
        .ChatMain__messages__message__info__UserName masa
        .ChatMain__messages__message__info__date 2020/02/13(Thu) 21:34:17
      .ChatMain__messages__message__text マクドナルドなう。
  .ChatMain__form
    %form.new-message
      .input-box
        %input{type: "text", placeholder: "type a message", class: "input-box__text"}
        %label{class: "input-box__image"}
          = icon('far', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", value: "Send", class: "send-btn"}