.SideBar
  .SideBar__header
    .SideBar__header__box
      .SideBar__header__box__UserName masa
      .SideBar__header__box__menu
        = link_to "#", class: "SideBar__header__box__menu__btn" do
          = icon('fas', 'edit')
        = link_to "#", class: "SideBar__header__box__menu__btn" do
          = icon('fas', 'cog')
  .SideBar__GroupList
    .SideBar__GroupList__content
      .SideBar__GroupList__content__name techcamp
      .SideBar__GroupList__content__message まだメッセージはありません
    .SideBar__GroupList__content
      .SideBar__GroupList__content__name test group
      .SideBar__GroupList__content__message まだメッセージはありません
    .SideBar__GroupList__content
      .SideBar__GroupList__content__name テスト
      .SideBar__GroupList__content__message まだメッセージはありません
