.SideBar
  .SideBar__header
    .SideBar__header__box
      .SideBar__header__box__UserName masa
      .SideBar__header__box__menu
        = link_to "#" do
          = icon('fas', 'edit', class:'SideBar__header__box__menu__icons')
        = link_to "#" do
          = icon('fas', 'cog', class:'SideBar__header__box__menu__icons')
  .SideBar__groups
    .SideBar__groups__group
      .SideBar__groups__group__name techcamp
      .SideBar__groups__group__message まだメッセージはありません
    .SideBar__groups__group
      .SideBar__groups__group__name test group
      .SideBar__groups__group__message まだメッセージはありません
    .SideBar__groups__group
      .SideBar__groups__group__name テスト
      .SideBar__groups__group__message まだメッセージはありません
