.SideBar
  .SideBar__header
    .SideBar__header__box
      .SideBar__header__box__UserName masa
      .SideBar__header__box__menu
        = link_to "#" do
          = icon('fas', 'edit', class:'SideBar__header__box__menu__icons')
        = link_to "#" do
          = icon('fas', 'cog', class:'SideBar__header__box__menu__icons')
  .SideBar__GroupList
    .SideBar__GroupList__content
      .SideBar__GroupList__content__name techcamp
      .SideBar__GroupList__content__message まだメッセージはありません
    .SideBar__GroupList__content
      .SideBar__GroupList__content__name test group
      .SideBar__GroupList__content__message まだメッセージはありません
    .SideBar__GroupList__content
      .SideBar__GroupList__content__name テスト
      .SideBar__GroupList__content__message まだメッセージはありません
